@charset "utf-8";

:root {
    --cor0: #BF8F65; 
    --cor1: #BF9C88; 
    --cor2: #858C51; 
    --cor3: #403E22; 
    --cor4: #F27E88; 
    --cor5: #40281F; 
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;


}