@media screen and (max-width: 768px) {

    html,
    body {
        margin: 0px;
        padding: 0px;
        background-image: url(imagens/bg\ poa.svg);

    }

    main {
        width: 75vw;
        margin: auto;

    }

    header {
        display: inline-grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 10vh;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        display: inline-grid;
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        padding: 7px;
        margin-left: 5px;
        color: #000000;
    }

    nav {
        display: inline-grid;
        position: relative;
        background-color: aquamarine;
        justify-content: right;

    }

    nav>ul {
        display: grid;
        width: 100vw;
        list-style-type: none;
        justify-items: center;
        align-content: center;

    }

    nav li {
        display: inline-grid;
        margin-right: 2%;
        justify-items: end;
        align-items: center;
        border-radius: 5%;
    }

    nav a {
        display: grid;
        width: 100vw;
        text-decoration: none;
        text-align: center;
        border: 2px solid rgba(248, 248, 255, 0);
        color: white;
        font: bolder 1em "Nunito";
        transition: transform 2s;
        background-color: aquamarine;
    }

    nav a:hover {
        background-color: var(--cor7);
        transition: transform 2s;
    }

    i#burguer {
        display: inline-grid;
        justify-items: end;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 29px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        margin: 10%;
    }

    .capa {
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 62vh 15vh 18vw;
        margin: 0vh;
        row-gap: 0vh;
        grid-template-areas:
            "perfil"
            "saudacao"
            "postit"
            "contato";
        align-items: center
    }

    .capa p {
        width: 50vw;
        line-height: 1.5;
        left: 7vw;
        font-size: 1.2em;
        margin-top:-35.6vh;
        margin-left: 8vw;
    }

    .capa .perfil img {
        transform: rotate(260deg);
    }

    .perfil {
        margin-top: -43%;
        width: 80vw;
        display: flex;
        flex-direction: column;

        transform: rotate(90deg);
    }

    #postit img{
        position: relative;
        width: 138%;
        margin-top: -111%;
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
    }

    .contato{
        margin-left: -13vw;
        margin-top: -25vw;
    }

    .contato img {
        border-radius: 50%;

    }

    .contato li{
        display: grid;
        color: black;
        font-size: 1.2em;
        margin: 1%;
        background-color: black;
    }

    #projetos {
        display: inline-grid;
        font: bolder 4em "La Belle Aurore";
        width: 70vw;
        text-align: center;
        color: #1a1510;
        margin-top: 7%;
    }

    .proj {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5,auto);
        width: 71vw;
        justify-content: center;
        align-items: center;
        justify-items: center;    
    }

    .proj h2 {
        text-align: center;
    }

    .proj ul {
        text-align: center;
    }

    #p01,
    #p02,
    #p03,
    #p04,
    #p05 {
        display: grid;
        width: 60vw;
        margin-left: 3%;
        margin-top: -55vh;
        text-align: justify;
        font-size: 0.9em;
        padding: 7%;
    }

    .portfolio,.login,.rede-social,.cordel,.android {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio{
        margin-bottom: 15vh;  
    }

    .login{
        margin-bottom: 15vh;  
    }
    
    .rede-social{
        margin-bottom: 15vh;  
    }
    
    .cordel{
        margin-bottom: 15vh;  

    }
    
    .android {
        margin-bottom: 15vh;  

    }


    .botoes {
        color: white;
        text-align: center;
        text-decoration: none;


        a {
            color: crimson;
            background-color: fuchsia;
            color: black;
            font-size: 1em;
        }

        a:hover {
            width: 100%;
            background-color: springgreen;
            color: black;
            font-size: 1em;
        }

        li {
            display: grid;
            color: black;
            font-size: 1.2em;
            margin: 1%;
        }
    }
}