@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400..700&family=Handlee&family=Indie+Flower&family=La+Belle+Aurore&family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Patrick+Hand+SC&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400..700&family=Indie+Flower&family=La+Belle+Aurore&family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Patrick+Hand+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400..700&family=Encode+Sans+SC:wght@100..900&family=Handlee&family=Indie+Flower&family=La+Belle+Aurore&family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Patrick+Hand+SC&display=swap');

:root {
    --cor0: #BF8F65;
    --cor1: #BF9C88;
    --cor2: #858C51;
    --cor3: #403E22;
    --cor4: #fc929b;
    --cor5: #40281F;
    --cor6: #c2565f;
    --cor7: #724347;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-image: url(imagens/bg\ poa.svg);

}

main {
    display: grid;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: auto;


}

header {
    display: inline-grid;
    grid-template-columns: 28vw 50vw;
    grid-template-rows: 10vh;
    box-shadow: 2px 2px 20px #c2565f;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

header h1 {
    display: inline-grid;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 7px;
    margin-left: 5px;
    color: #000000;
}

nav {
    display: inline-grid;
    position: relative;
}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-items: center;
    align-content: center;

}

nav li {
    display: grid;
    margin-right: 2%;
    justify-items: end;
    align-items: center;
    border-radius: 5%;
}

nav a {
    display: grid;
    width: 11vw;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font: bolder 1em "Nunito";
    padding: 3%;
    transition: transform .5s;
    background-color: violet;
}

nav a:hover {
    background-color: var(--cor7);
    transition: transform 3s;
    background-color: rgb(204, 241, 67);
    padding:5%;
    color: #ffffff;

}

i#burguer {
    display: none;
    list-style-type: none;
    text-decoration: none;
    margin: 10%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 29px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin: 10%;
}

.capa {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 78vh;
    align-items: center;
    justify-items: start;
    grid-template-areas:
        "fport saudacao"
        "contato  .  "
}
#cora{
    position: relative;
    margin-top: 3vh;
}
#new{
    margin-top: -1vh;
}

#star-{
    margin-top: -40vh;
}

#star{
    margin-top: -40vh;
}

.perfil {
    margin-top: -23%;
    margin-left: -36vw;
    display: flex;
    flex-direction: column;
    transform: rotate(-8deg);
}

#pink{
    background-color: rgb(255, 62, 101);
}

.capa p{
    font: normal bolder 1.5em "Handlee";
    width: 24vw;
    position: relative;
    margin-top: -56vh;
}

#postit img {
    position: relative;
    width: 56%;
    margin-top: -84%;
    display: flex;
    flex-direction: column;
    margin-left: 50vw;
}

#saudacao {
    display: grid;
    position: relative;
    width: 61vw;
    text-align: center;
    color: #1a1510;
    margin-top: -18vh;
}
.contato {
    display:grid;
    grid-area: contato;
    justify-items: center;
    align-items: center;
    margin-top: -23vh;
}

.contato ul {
    display: flex;
    width: 100vw;
    background-color: black;
    justify-content: space-around
}

.contato li {
    display: grid;

}

#projetos{
    display:grid;
    font: bolder 4em "La Belle Aurore";
    width: 90vw;
    text-align:center;
    color: #1a1510;
    margin-top:10vh ;
}
@media screen and (min-width: 768px) {


    .proj {
        display: grid;
        grid-template-columns:50vw 50vw;
        grid-template-rows: repeat(5, 1fr);
        width: 60vw;
    }

    .proj h2{
        position:relative;
        display: inline-grid;
        color: #000000;
    }

.portfolio{
    display: grid;
    grid-template-rows: 41vh 29vh 55vh;
    position: relative;
    justify-items: center;
    grid-template-areas:
        "fport"
        "botoes-port"
        "p01"
}

.login{
    display: grid;
    grid-template-rows: 42.5vh 11vh 55vh;
    position: relative;
    grid-template-areas:
        "flogin"
        "botoes-log"
        "p02";
    justify-items: center;
}

.rede-social {
    display: grid;
    grid-template-rows: 41vh 1vh 35vh;
    position: relative;
    justify-items: center;
    grid-template-areas:
        "fsocial"
        "botoes-soc"
        "p03"
}

.cordel{
    display:grid;
    grid-template-rows: 51vh 13vh 35vh;
    position: relative;
    grid-template-areas:
    "fcordel"
    "botoes-cord"
    "p04";
}

.android{
    display: grid;
    grid-template-rows: 20vh 39vh 35vh;
    position: relative;
    grid-template-areas:
        "fandroid"
        "botoes-and"
        "p05";

}
    .fport {
        display:grid;
        grid-area: fport;

    }
    
    .flogin {
        display:grid;
        grid-area: flogin;

    }

    .fsocial{
        display:grid;
        grid-area: fsocial;
        margin-top: -4vh;
    }
    
    .fcordel {
        display:grid;
        grid-area: fcordel;
        margin-top: -4vh;
        justify-items: center;
    }
    
    .fandroid {
        display: grid;
        grid-area: fandroid;
        margin-top: -6vh;
        justify-items: center;

       

    }

    #botoes-port{
        display: flex;
        width: 33vw;
        margin-top: 30%;
        margin-bottom: 4vh;
        margin-left: 3.5px;
        background-color: #ffffff57;
        font: normal bolder 1em "Handlee";
        justify-content: space-around;
    } 

    #botoes-log{
        display: flex;
        width: 32.5vw;
        font-size: 1.5em;
        margin-bottom: 4vh;
        justify-content: space-around;
        margin-left: 0vw;
        background-color: #ffffff57;
        font: normal bolder 1em "Handlee";
        margin-top: 20vh
    }   

    #botoes-soc{
        display: flex;
        width: 33.5vw;
        font-size: 1.5em;
        margin-bottom: 0vh;
        justify-content: space-around;
        margin-left: 0.5vw;
        background-color: #ffffff57;
        font: normal bolder 1em "Handlee";
        margin-top: 15vh;

    } 

   #botoes-cord{
    display: flex;
    width: 35vw;
    font-size: 1.5em;
    margin-bottom: 6vh;
    margin-left: 8vw;
    background-color: #ffffff57;
    font: normal bolder 1em "Handlee";
    justify-content: space-around;
    margin-top: 5vh;
}

#botoes-and{
    display: flex;
    width: 33.2vw;
    font-size: 1.5em;
    margin-bottom: 35vh;
    justify-content: space-around;
    margin-left: 8.9vw;
    background-color: #ffffff57;
    font: normal bolder 1em "Handlee";
    margin-top: 35vh;
}



    .proj li{
        display: grid;
        list-style:none;
        color: #ffffff;
        margin: 1px;
        width:10vw;
        padding: 1%;
        border-radius: 2%;
        box-shadow: 2px 2px 10px #ffffff;
      background-color: #000000;
      text-align: center;
      font: normal bolder 1em "Handlee";
    }

    .proj a{
        text-decoration: none;
        color: #ffffff;
        background-color: black;
        padding: 2%;
        transition: transform .5s;
    }

    .proj a:hover{
        color: #ffffff;
        font-size: 1em;
        padding: 4%;
        background-color:#ff039e ;
        transform: scale(1.1)
    }

    .proj p{
        font: normal bolder 0.9em "Encode Sans SC";
        line-height: 1.3;
        padding: 7%;
        text-align: justify;
    }


#p01{
    display: grid;
    width: 33.5vw;
    margin-top: -7vh;
    margin-left: -7%;
    margin-bottom: 21vh;
    }
#p02{
    display: grid;
    position: absolute;
    width: 33vw;
    margin-top: -9vh;
    margin-left: -7%;
    margin-bottom: 15%;
}

#p03{
    display: grid;
    position: absolute;
    top: 122vh;
    width: 33vw;
    margin-top: -66vh;
    margin-left: -6%;
    margin-bottom: 15%;
}

#p04{
    display: grid;
    position: absolute;
    top: 124vh;
    left: 2vw;
    width: 33vw;
    margin-top: -69vh;
    margin-left: 7%;
    margin-bottom: 15%;
}

#p05 {
    display: grid;
    position: absolute;
    top: 4vh;
    left: 5vw;
    width: 33vw;
    margin-top: 50vh;
    margin-bottom: 15%;
    }
}